@import 'colors.css';

.Navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333; /* Dark grey background */
    padding: 15px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
.Navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.Navbar li {
  margin: 0 15px;
}
.Navbar a{
    text-decoration: none;
    color: #fff; /* White text */
    font-size: 16px;
    transition: color 0.3s ease;
}

.Navbar a:hover {
    color: var(#1e90ff); /* Change color on hover */
}



.profileNav{

}