.searchBar{
    border-radius: 10px;
    background-color: var(--white);
    display: flex;
    height: 30px;
    width: 200px;
    position: absolute;
    top: -10%;
    right:-100px;
    align-items: center;
    margin: 0px;
    padding-left:5px;
    font-size: 16px;
    border: 1px solid var(--black);
}


svg{
    width: 16px;
    height: 16px;
}

input{
    width: 100px;
    margin: 2px;
    height: 80%;
    padding-left: 5px;
    border: 0px;

}

input:focus{
    outline: none;
}