@import 'colors.css';

.container1{
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.tabs1 ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}


.tabs1 a{
    color: var(--blue);
    font-size: 12px;
    display: flex;
    text-decoration: none;
    border: 1px solid var(--blue);
    padding: 5px 15px;
    margin-right: 1px;
    border-radius: 5px;
}

.tabs1 a:hover{
    color: var(--white);
    background-color: var(--blue);
}   

.tabs1 li:active{
    color: var(--white);
    background-color: var(--blue);
}
.tabs1 li.active a {
    color: var(--white);
    background-color: var(--blue);
}

/*dealing with the three sections found in profile page */
.userProfile{
    display: flex;
    height: 100%;
    width: 100%;
    
    border-radius: 10px;
}
.child1{
    
    width: 90%;
    height: 100%;
    border-radius: 10px;
    
}



.content1{
    flex: 1; 
    width:30vw;
    height:70vh;
    display: flex;
    border: 1px solid black;
    border-radius: 10px;

    background-color: var(--tertiary-color);
    
}

.memberInfo{
    padding-right: 50px;
    padding-left:10px ;
}


/*dealing with member information found in userProfile*/
.InitialInfo {
    display: grid; /* Enable grid layout */
    grid-template-columns: auto auto; /* Create 2 equal columns */
    gap: 20px; /* Optional: space between items */
}
h1{
    justify-self: center;
    align-self: center;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid var(--secondary-color);
    font-weight: 200;

}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: absolute;
    top:-10%;
    width: 100%;
    left:50%;
    transform: translate(-50%, -50%);
    
}


.title1{
    position: absolute;
    top:-10%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    font-weight: bolder;
    font-size: xx-large;
}


